/**
***************FONT FOR WEBSITE****************
 */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: 100;
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
}


/*


PAGINATION
 */

.pagination-container {
    margin: 20px auto;
    text-align: center;
}
.pagination {
    position: relative;
}
.pagination a {
    position: relative;
    display: inline-block;
    color: #2c3e50;
    text-decoration: none;
    font-size: 16px;
    padding: 4px 8px 5px;;
}
.pagination a:before {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(35, 172, 182, 1), rgba(14, 100, 141, 1));
    border-radius: 24px;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: all 0.2s;
}
.pagination a:hover,
.pagination a .pagination-active {
    color: #fff;
}
.pagination a:hover:before,
.pagination a .pagination-active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.pagination .pagination-active {
    color: #fff;
}
.pagination .pagination-active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.pagination-newer {
    margin-right: 10px;
}
.pagination-older {
    margin-left: 10px;
}


/*
***************END FONT WEBSITE***********
 */


* {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Roboto',sans-serif !important;

}


.border-radius-10{
    border-radius: 10px !important;
}

.container-tunnel-step{
    padding-bottom:  0 !important;
}
/**
******STEP PAGE TO PRESENT WEBSITE******
 */
.has-slider-step-page{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;

}

.slider-step-page {
    height: 100%;
    display: flex;
    width: 400%;
}
.slider-step-page.is-animating {
    transition: -webkit-transform 400ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: transform 400ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: transform 400ms cubic-bezier(0.5, 0, 0.5, 1), -webkit-transform 400ms cubic-bezier(0.5, 0, 0.5, 1);
}

.slider-pagination-step-page {
    bottom: 3.25%;
    left: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    width: 100%;
}
.slider-pagination-step-page > * {
    background-color: rgba(213, 213, 213, 1);
    display: inline-block;
    height: 8px;
    border-radius: 50%;
    margin-left: 4px;
    margin-right: 4px;
    transition: background-color 250ms;
    width: 8px;
}
.slider-pagination-step-page > *.is-active {
    background-color: #0E648D;
}

.slider-element-step-page {
    height: 100%;
    width: calc(100%/4);
    position: relative;
}

.step1, .step2, .step3, .step4{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.step1{
    background: radial-gradient(#fdfbfb, #fdfbfb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.step1 .logo{
    width: 70%;
    margin: 0 auto;
    display: inline;
    filter:drop-shadow(1px 2px 0px rgba(255, 255, 255, 1));
}

.step1 h2, .step2 h2, .step3 h2, .step4 h2{
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: #0E648D;
}

.step4 h1 {
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    color: #0E648D;
    margin-bottom: -20px;
}

.step4 h2{
    font-size: 1.3em;
}

.step4 .coins{
    width: 40%;
    margin: 0 auto -40px auto;
    display: inline;
    filter:drop-shadow(1px 2px 0px rgba(255, 255, 255, 1));
}

.step1 p, .step2 p, .step3 p, .step4 p{
    width: 75%;
    color: rgb(56, 56, 56);
    margin: 0 auto;
}

.step2 .iphone, .step3 .iphone, .step4 .iphone{
    width: 75%;
    margin: 0 auto;
}

.has-slider-step-page .skip-tuto{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    font-weight: 100;
    color: rgba(120, 120, 120, 1);
}

.separator{
    height: 2px;
    background: linear-gradient(to left, rgba(39, 39, 39, 0.1) 0%, rgba(39, 39, 39, 0.4) 33%, rgba(39, 39, 39, 0.4) 66%, rgba(39, 39, 39, 0.1) 100%);
    width: 80%;
    margin: 20px auto;
}


/**
****************WEBSITE CSS********************
************DONT TOUCH CSS BELOW **************
************CSS BELOW IS TO MENU***************
 */

.has-slider{
    width:100%;
}

.slider {
    display: flex;
    width: 200%;
}
.slider.is-animating {
    transition: -webkit-transform 400ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: transform 400ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: transform 400ms cubic-bezier(0.5, 0, 0.5, 1), -webkit-transform 400ms cubic-bezier(0.5, 0, 0.5, 1);
}

.slider-pagination {
    bottom: 6.25%;
    left: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    width: 100%;
}
.slider-pagination > * {
    background-color: rgba(213, 213, 213, 1);
    display: inline-block;
    height: 3px;
    border: none;
    margin-left: 4px;
    margin-right: 4px;
    transition: background-color 250ms;
    width: 15px;
}
.slider-pagination > *.is-active {
    background-color: #84BDA4;
}

.slider-panel {
    width: 100%;
}

.has-slider {
    overflow: hidden;
    position: relative;
    width: 80%;
}

.colophon {
    color: #808080;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
}

#nav-mobile a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

#nav-mobile{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F6F6F6;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.slider-panel ul {
    margin: 0 auto!important;
    padding: 0 !important;
    height: 50px;
    width: 100%;
    display: inline-block;
    list-style-type: none;
}

.slider-panel ul li {
    height: 100%;
    text-align: center;
    float: left;
    width: calc(100%/3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-panel ul li i {
    font-size: 24px;
    background: linear-gradient(to bottom, rgb(35, 172, 182), rgb(14, 100, 141)) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-slide-big{
    width: 20%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(35, 172, 182, 1), rgba(14, 100, 141, 1)) !important;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-slide-big img {
    max-width: 45%;
}




/*
  Menu
*/
nav#slide-menu {
    position: fixed;
    top: 0;
    left: -100px;
    bottom: 0;
    display: block;
    float: left;
    width: 100%;
    max-width: 284px;
    height: 100%;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    background: linear-gradient(#fff, #F9F9F9);
    transition: all 300ms;
}
nav#slide-menu > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0px !important;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    list-style: none;
    opacity: 0.5;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}
nav#slide-menu > ul li {
    background: -webkit-linear-gradient( #23ACB6, #0E648D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: calc(100%/5);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
}


nav#slide-menu > ul li:not(:last-child){
    box-shadow: rgba(40, 40, 40, 0.2) 0px 5px 10px;
}

nav#slide-menu > ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav#slide-menu > ul li a i {
    background: -webkit-linear-gradient( #23ACB6, #0E648D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    font-size: 24px;
}
nav#slide-menu > ul li:hover {
    background: -webkit-linear-gradient( #23ACB6, #0E648D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav#slide-menu > ul li:before {
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    color: #59e9df;
    margin-right: 12px;
    text-align: center;
    font-variant: normal;
    font-size: 0.75em;
    text-transform: none;
    line-height: 1em;
}


nav#slide-menu-2 {
    position: fixed;
    top: 0;
    left: -100px;
    bottom: 0;
    display: block;
    float: left;
    width: 100%;
    max-width: 284px;
    height: 100%;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    background: linear-gradient(#fff, #F9F9F9);
    transition: all 300ms;
}
nav#slide-menu-2 > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0px !important;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    list-style: none;
    opacity: 0.5;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}
nav#slide-menu-2 > ul li {
    background: -webkit-linear-gradient( #23ACB6, #0E648D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: calc(100%/4);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
}


nav#slide-menu-2 > ul li:not(:last-child){
    box-shadow: rgba(40, 40, 40, 0.2) 0px 5px 10px;
}

nav#slide-menu-2 > ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav#slide-menu-2 > ul li a i {
    background: -webkit-linear-gradient( #23ACB6, #0E648D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    font-size: 24px;
}
nav#slide-menu-2 > ul li:hover {
    background: -webkit-linear-gradient( #23ACB6, #0E648D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav#slide-menu-2 > ul li:before {
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    color: #59e9df;
    margin-right: 12px;
    text-align: center;
    font-variant: normal;
    font-size: 0.75em;
    text-transform: none;
    line-height: 1em;
}



body.menu-active nav#slide-menu,
body.menu-active nav#slide-menu-2  {
    left: 0px;
}

body.menu-active nav#slide-menu ul,
body.menu-active nav#slide-menu-2 ul{
    left: 0px;
    opacity: 1;
}



/*
  Content
*/
div#content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: #fcfeff;
    border-radius: 0;
    padding-bottom: 65px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: -3px 0 6px rgba(40, 40, 40, 0.2);
    -webkit-box-shadow: -3px 0 6px rgba(40, 40, 40, 0.2);
    box-shadow: -3px 0 6px rgba(40, 40, 40, 0.2);
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

div#content div.menu-slide-big {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 36px;
    height: 36px;
    background: #dfe5eb;
    cursor: pointer;
    border-radius: 5px;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

div#content div.menu-slide-big:before {
    display: inline-block;
    width: 36px;
    height: 36px;
    color: black;
    font-style: normal;
    font-size: 1.2em;
    font-weight: normal;
    font-variant: normal;
    text-align: center;
    text-transform: none;
    line-height: 36px;
}
div#content div.menu-slide-big:hover {
    background: #556270;
}
div#content div.menu-slide-big:hover:before {
    color: #fcfeff;
}

body.menu-active div#content, body.menu-active div#nav-mobile, body.menu-active div#content .background-gradiant {
    left: 284px;
}

body.menu-active div#content .menu-slide-big {
    left: 294px;
}





/**
****************WEBSITE CSS********************
*************ADD CUSTOM CSS HERE **************
************DONT TOUCH CSS ABOVE **************
************CSS ABOVE IS TO MENU***************
 */



header{
    background: #F9F9F9;
    text-align: center;
    height: 50px;
    padding: 5px;
    box-shadow: rgba(58, 58, 58, 0.2) 0px 5px 10px;
    position: relative;
}

.notification-message {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
}

.notif-number {
    position: absolute;
    top: -10px;
    right: -15px;
    background: #bf0707;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}




.block--message-box{
    width: 95%;
    text-align: center;
    margin: 0 auto 20px auto;
    background: #F9F9F9;
    border-radius: 10px;
    box-shadow: rgba(40, 40, 40, 0.1) 0px 3px 5px;
    padding-bottom: 20px;
}

.left-date-message{
    font-size: 12px;
}

.right-date-message{
    font-size: 12px;
    color: #FFFFFF;
}

.left-message-message-send {
    font-size: 14px;
    text-align: left;
}

.right-message-message-send {
    font-size: 14px;
    text-align: right;
    color: #FFFFFF;
}

.left-message-title{
}

.right-message-title{
    color: #FFFFFF;
}

.message-box-link{
    color: #0a4a67;
    cursor: pointer;
}


.message-list-element{
    display: flex;
    height: auto;
    color: black;
    margin-bottom: 10px;
    align-items: center;
}

.message-list-element-show-left{
     display: flex;
     height: auto;
     flex-direction: column;
     width: 60%;
     margin: 0 auto 10px auto;
     color: black;
 }
.toast__container {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    width: 90%;
}

.toast__cell{
    display:inline-block;
}

.add-margin{
    margin-top:20px;
}


.toast {
    text-align:left;
    padding: 21px 0;
    background-color:#fff;
    border-radius:4px;
    max-width: 500px;
    top: 0px;
    position:relative;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
}


.toast:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;

}

.toast__icon{
    position:absolute;
    top:50%;
    left:22px;
    transform:translateY(-50%);
    width:14px;
    height:14px;
    padding: 7px;
    display:inline-block;
}

.toast__type {
    color: #3e3e3e;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
}

.toast__message {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    color: #878787;
}

.toast__content{
    padding-left:70px;
    padding-right:60px;
}

.toast__close {
    position: absolute;
    right: 22px;
    top: 50%;
    width: 14px;
    cursor:pointer;
    height: 14px;
    fill:#878787;
    transform: translateY(-50%);
}


.toast--green:before{
    background-color:#84BDA4;
}

.toast--red:before{
    background-color: #BD3939;
}

.toast--blue .toast__icon{
    background-color:#1D72F3;
}

.toast--blue:before{
    background-color:#1D72F3;
}

.toast--yellow .toast__icon{
    background-color:#FFC007;
}

.toast--yellow:before{
    background-color:#FFC007;
}


.message-list-element-show-center{
    display: flex;
    height: auto;
    flex-direction: column;
    width: 90%;
    margin: 10px auto 10px auto;
    color: black;
}


.message-list-element-show-right{
    display: flex;
    height: auto;
    flex-direction: column;
    width: 60%;
    margin: 0 auto 10px auto;
    color: black;
}

.left-box-show{
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    background: #eff1f4;
    margin-left: -30px;
}

.center-box-show{
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 0px;
}

.right-box-show{
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(35, 172, 182, 1), rgba(14, 100, 141, 1));
}

.background-gradiant{
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(251,251,251,1) 0%, rgba(228,228,228,1) 100%);
    top: -30px;
    left: 0;
    right: 0;
    bottom: -30px;
    z-index: -999;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}
.wrapper {
    min-height: 45%;
    color: #23ACB6;
}




.block--info{
    height: 40px;
    width: 60%;
    background:linear-gradient(to bottom, rgba(35, 172, 182, 1), rgba(14, 100, 141, 1));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin: 0px auto 15px auto;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    padding: 0 10px;
    box-shadow: rgba(57, 57, 57, 0.3) 0px 5px 10px;
}

.block--info span{
    text-align: center;
    color: #F6F6F6;
    text-transform: uppercase;
}
/**
******BLOCK SEARCH DESIGN*************
 */
.block--search{
    height: 200px;
    width: 95%;
    border-radius: 10px;
    margin: 20px auto;
    background-image:linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('../img/city.jpg');
    background-size: cover;
    box-shadow: rgba(40, 40, 40, 0.3) 0px 5px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.block--search .search-wrap{
    background: #FAFAFA;
    display: flex;
    margin: 40px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 85%;
    border-radius: 5px;
    padding-bottom: 15px;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.block--search .search-wrap span{
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    color: #393939;
    text-transform: none;
}

.block--search .search-wrap form{
    display: flex;
    justify-content: center;
    position: relative;
}

.block--search .search-wrap form .search-text {
    width: 75%;
    height: 40px;
    padding: 0 15px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #393939;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    background: #f8f8f6;
}

.block--search .search-wrap form button{
    border: none;
    width: 40px;
    margin-left: 10px;
    border-radius: 5px;
    background:rgba(35, 172, 182, 1);
    color: #F6F6F6;
}

.block--search .search-wrap form .localisation{
    display: none;
    position: absolute;
    bottom: -25px;
    right: 20px;
    transition: all 2s ease-in-out;
}

.block--search .search-wrap form .localisation h4{
    color: #393939;
    font-size: 13px;
    margin-right: 10px;
}

.block--search .search-wrap form .localisation div{
    display: flex;
    align-items: center;
}

.block--search .most-filters{
    display: block;
    position: absolute;
    bottom: 5px;
    left: 20px;
}

.block--search .most-filters i{
    color: rgba(35, 172, 182, 1);
}

#list-result{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
    background: white;
}

#list-result-block{
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    z-index: 999;
    background: white;
    list-style-type: none;
    text-align: center;
    padding: 10px 0px;
}

#list-result-block li {
    color: rgba(14, 100, 141, 1);
    padding: 15px 0px;
    height: 15px;
}

/**
*******SWITCH BUTTON CREATED BY  Mauricio Allende **********
 */
        .tgl {
            display: none;
        }
        .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
            box-sizing: border-box;
        }
        .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
            background: none;
        }
        .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
            background: none;
        }
        .tgl + .tgl-btn {
            outline: 0;
            display: block;
            width: 40px;
            height: 20px;
            position: relative;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
            font-size: 10px;
        }
        .tgl + .tgl-btn:after {
            left: 0;
        }
        .tgl + .tgl-btn:before {
            display: none;
        }
        .tgl:checked + .tgl-btn:after {
            left: 50%;
        }


        .tgl-switch + .tgl-btn {
            background: #fbfbfb;
            border-radius: 2em;
            padding: 2px;
            transition: all .4s ease;
            border: 1px solid #e8eae9;
        }
        .tgl-switch + .tgl-btn:after {
            border-radius: 2em;
            background: #fbfbfb;
            transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
        }
        .tgl-switch + .tgl-btn:hover:after {
            will-change: padding;
        }
        .tgl-switch + .tgl-btn:active {
            box-shadow: inset 0 0 0 2em #e8eae9;
        }
        .tgl-switch + .tgl-btn:active:after {
            padding-right: .8em;
        }
        .tgl-switch:checked + .tgl-btn {
            background: #86d993;
        }
        .tgl-switch:checked + .tgl-btn:active {
            box-shadow: none;
        }
        .tgl-switch:checked + .tgl-btn:active:after {
            margin-left: -.8em;
        }
/**
*******************BLOCK LAST ANNOUNCES *******************
 */
.block--last-announce{
    background-color: transparent;
    height: auto;
    width: 95%;
    border-radius: 10px;
    margin: 10px auto 20px auto;
}

.block--last-announce .announce-wrap{
    height: 100%;
}

.block--last-announce ul {
    height: 100%;
    padding: 0 !important;
    list-style: none;
    width: 100%;
}
.block--last-announce ul li{
    box-shadow: rgba(40, 40, 40, 0.3) 0px 5px 10px;
    border-radius: 10px;
    height: 150px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 15px 0px;
}

.block--last-announce ul li .background-gradiant-announce{
    background: black;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.block--last-announce ul li img{
    width: 100%;
}

.block--last-announce ul li .announce-info{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    color: #F9F9F9;
    top: 50%;
    transform: translateY(-50%);
}

.block--last-announce ul li .announce-info h3{
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
}

.block--last-announce ul li .announce-info p{
    width: 75%;
    font-size: 13px;
}

/**
**********BLOCK ABOUT**************
 */

.block--about{
    height: 100%;
    text-align: center;
    background: #F9F9F9;
    border-radius: 10px;
    display: flex;
    width: 95%;
    padding: 0px 0px 20px 0px;
    margin: 0 auto 20px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(40, 40, 40, 0.1) 0px 3px 5px;
}

.block--title{
    width: 70%;
    padding: 10px 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.block--title span{
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 0 auto !important;
    box-shadow: rgba(40, 40, 40, 0.1) 0px 3px 5px;
    padding: 0px 10px;
}
.block--title .first{
    color: white;
    width: 75%;
    margin-right: auto;
    background: linear-gradient(to bottom, rgba(35, 172, 182, 1), rgba(14, 100, 141, 1));

}
.block--title .second{
    margin-left: auto;
    background: white;

}
.block--title .second h5{
    background: linear-gradient(to bottom, rgba(35, 172, 182, 1), rgba(14, 100, 141, 1)) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 20px;

}

.block--about .block--info{
    height: 40px;
    width: 60%;
    background:linear-gradient(to bottom, rgba(35, 172, 182, 1), rgba(14, 100, 141, 1));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin: 0px auto 15px auto;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    padding: 0 10px;
    box-shadow: rgba(57, 57, 57, 0.3) 0px 5px 10px;
}

.block--about .info-wrap{
    width: 100%;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
}

.block--about .info-wrap .communitary-content, .block--about .info-wrap .no-money-content, .block--about .info-wrap .ecology-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block--about .info-wrap .communitary-content .informations,
.block--about .info-wrap .no-money-content .informations,
.block--about .info-wrap .ecology-content .informations {
    width: 75%;
}

.block--about .info-wrap p{
    color: rgba(39,39,39,0.85);
}
.block--about .no-money-icon, .block--about .communitary-icon, .block--about .ecology-icon{
    width: 70px;
    height: 70px;
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #F9F9F9;
    font-size: 26px;
}

.block--about .no-money-icon{
    background: #c83a4b;
}
.block--about .communitary-icon{
    background: #23ACB6;
}
.block--about .ecology-icon{
    background: #6cca8a;
}


/**
************FOOTER BLOCK***************
 */

footer{
    display: block;
    width: 95%;
    height: auto;
    margin: 5px auto;
}

footer .footer-content{
    height: 100%;
    padding: 15px 10px;
    text-align: center;
    background: #F9F9F9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(40, 40, 40, 0.1) 0px 3px 5px;
}

.footer-content img{
    width: 35%;
}

.footer-content .social-network{
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px rgba(0,0,0,0.07);
    display: flex;
    justify-content: center;
}
.footer-content .social-network span{

    height: 30px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    width: 30px;
    background: #23ACB6;
    color: #FFFFFF;
}

.footer-content .resume-zone h5{
    color: #23ACB6;
}

.footer-content .resume-zone p{
    font-size: 13px;
}

.footer-content nav {
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px rgba(0,0,0,0.07);
}
.footer-content nav a {
    color: #23ACB6;
    font-size: 14px;
}

.footer-content nav a:nth-child(2)::before{
    padding-right: 5px;
    content: '|';
}
.footer-content nav a:nth-child(2)::after{
    content: '|';
    padding-left: 5px;
}

.footer-content .copyright-zone{
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px rgba(0,0,0,0.07);
    color: rgba(0,0,0,0.85);
    font-size: 10px;
}

/** inscription **/


.block--register{
    background: #F9F9F9;
    width: 95%;
    margin: 20px auto;
    box-shadow: rgba(40, 40, 40, 0.1) 0px 3px 5px;
    border-radius: 10px;
    padding-top: 5px;
}

.block--register h1{


}

.block--register .register-wrap{
    background: #FAFAFA;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 85%;
    border-radius: 5px;
}

/*.block--register .register-wrap span{*/
    /*font-size: 15px;*/
    /*line-height: 24px;*/
    /*font-weight: 600;*/
    /*color: #393939;*/
    /*text-transform: none;*/
/*}*/

.block--register form .register-wrap{
    display: flex;
    justify-content: center;
}

.block--register form .register-wrap input {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #393939;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    background: #f8f8f6;
}

.block--register form .register-wrap input:hover{
    border: 2px solid #23ACB6;
}

/** payment **/



.block--payment{
    background: #F9F9F9;
    width: 95%;
    margin: 20px auto;
    box-shadow: rgba(40, 40, 40, 0.1) 0px 3px 5px;
    border-radius: 10px;
    padding-top: 5px;
}

.block--payment .payment-wrap{
    background: #FAFAFA;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 85%;
    border-radius: 5px;
}

.block--payment .payment-wrap form{
    display: flex;
    justify-content: center;
}

.block--payment form .payment-wrap input {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #393939;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    background: #f8f8f6;
}

.block--payment form .payment-wrap input:hover{
    border: 2px solid #23ACB6;
}

.block--loader-redirection {
    height: 100%;
    width: 100%;
    position: fixed;
    background: #0e1e2f;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block--loader-redirection img {
    width: 70%;
}

.block--loader-redirection h2 {
    text-align: center;
    width: 75%;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}

.payment-wrap #payment-expiration-date{
    width: 100%;
}


/**
**************PROFIL PAGE*************
 */

#block--profil-header{
    width: 95%;
    margin: 0 auto;
}


.block--header-background{
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/ville2.jpeg');
    background-size: cover;
    background-position: center;
    height: 183px;
    width: 100%;
    margin: 0px auto 20px auto;
    border-radius: 10px;
    text-align: center;
}

.block--header-background .full-name{
    color: #FFF;
    font-size: 28px;
    height: 25px;
    font-weight: bold;
    margin: 0;
    top: 20px;
    position: relative;
    text-transform: uppercase;
}
.block--header-background .profil-avatar{
    border-radius: 50%;
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
    top:50px;
    position: relative;
    border: 4px solid white;
    box-shadow: rgba(50, 50, 50, 0.3) 0px 5px 10px;
}

#block--profil-header .actions-zone{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}

.btn-principal{
    background: linear-gradient(to bottom, rgba(35, 172, 182, 1), rgba(14, 100, 141, 1));
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: inset 0px 2px 5px rgba(31, 187, 205, 0.3), 0px 5px 0px 0px #0a4a67, 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.btn-principal a {
    color: #FFF;
    text-decoration: none;
}

.btn-principal-red {
    background: linear-gradient(to bottom, rgb(182, 32, 40), rgb(141, 6, 11)) !important;
    box-shadow: inset 0px 2px 5px rgba(205, 20, 43, 0.3), 0px 5px 0px 0px #67041a, 0px 10px 5px rgba(0, 0, 0, 0.3);

}

.btn-principal-green {
    background: linear-gradient(to bottom, rgb(87, 182, 55), rgb(2, 141, 18)) !important;
    box-shadow: inset 0px 2px 5px rgba(12, 205, 30, 0.3), 0px 5px 0px 0px #086723, 0px 10px 5px rgba(0, 0, 0, 0.3);

}

.btn-principal-grey {
    background: linear-gradient(to bottom, rgb(187, 187, 187), rgb(128, 128, 128)) !important;
    box-shadow: inset 0px 2px 5px rgba(83, 81, 76, 0.3), 0px 5px 0px 0px #545a59, 0px 10px 5px rgba(0, 0, 0, 0.3);

}

.btn-arrow-right{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.btn-arrow-right:after{
    content: " > ";
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    right: -30px;
    width: 30px;
    height: 100%;
    background: rgba(14, 100, 141, 1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: solid 1px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px 2px 5px rgba(31, 187, 205, 0.3), 0px 5px 0px 0px #0a4a67, 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.clear-fix{
    height: 40px;
    width: 100%;
    background: transparent;
}


.block--profile-bio{
    width: 95%;
    height: auto;
    text-align: center;
    margin: 0 auto 20px auto;
    background: #F9F9F9;
    border-radius: 10px;
    box-shadow: rgba(40, 40, 40, 0.1) 0px 3px 5px;
}

.block--profile-statistics{
    width: 95%;
    text-align: center;
    margin: 0px auto 20px auto;
    background: #F9F9F9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(40, 40, 40, 0.1) 0px 3px 5px;
}

.block--profile-statistics .statistics-numbers{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.block--profile-statistics .circle {
    width: 50px;
    margin: 6px 20px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
}
.block--profile-statistics .circle strong {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 43px;
}

.block--profile-statistics .statistics-list{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.block--profile-statistics .statistics-numbers p{
    margin: 15px auto 0 auto;
    font-weight: bold;
    font-size: 20px;
}

.block--profile-statistics .statistics-numbers h5{
    color: rgba(50, 50, 50, 0.8);
    margin: 0px auto 15px auto;
    font-weight: normal;
}



.profil-slider-communities{
    margin-top: 10px;
    width: 100%;
    height: 200px;
}


.block--profile-communities{
    width: 95%;
    height: 300px;
    text-align: center;
    margin: 0 auto 20px auto;
    background: #F9F9F9;
    border-radius: 10px;
    box-shadow: rgba(40, 40, 40, 0.1) 0px 3px 5px;
}
.communities-list-content{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.communities-element{
    background-size: cover !important;
    background-position: center !important;
    height: 100%;
    width: 45%;
    border-radius: 10px;
    color:  #F9F9F9;
    text-align: center;
    position: relative;
}

.communities-element h4{
    font-size: 20px;
}
.communities-element p {
    font-size: 16px;
    font-weight: lighter;
}

.communities-element button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.block--profile-announce {
    width: 95%;
    text-align: center;
    margin: 0 auto 20px auto;
    background: #F9F9F9;
    border-radius: 10px;
    box-shadow: rgba(40, 40, 40, 0.1) 0px 3px 5px;
}

.block--profile-announce .announce-list-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.announce-element{
    margin-bottom: 10px;
    background-size: cover !important;
    background-position: center !important;
    height: 200px;
    width: 45%;
    border-radius: 10px;
    color:  #F9F9F9;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}

.announce-element h4{
    font-size: 20px;
    padding: 10px;
}
.announce-element p {
    font-size: 16px;
    font-weight: lighter;
}

.action-zone-content {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 20px;
    justify-content: space-around;
}

.block--profile-friends, .block--community-members{
    width: 95%;
    height: auto;
    text-align: center;
    margin: 0 auto 20px auto;
    background: #F9F9F9;
    border-radius: 10px;
    box-shadow: rgba(40, 40, 40, 0.1) 0px 3px 5px;
}

.block--profile-friends .friends-list, .block--community-members .members-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.friend-element, .block--community-members .member-element{
    width: 100px;
    height: 100px;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 50%;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    box-shadow: rgba(40, 40, 40, 0.1) 0px 5px 10px;
}

.friend-element h5, .block--community-members .member-element h5{
    color: #F9F9F9;
}



/**
    Communities swipe in profil
 */

.admin-community {
    flex: 0 1 100%;
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.admin-community-status {
    margin: 0px 0 10px 0;
    color: rgba(22, 22, 22, 1);
}

.has-slider-communities {
    overflow: hidden;
    width: 100%;
}
.slider-communities {
    display: flex;
    width: 400%;
}
.slider-communities.is-animating {
    transition: -webkit-transform 400ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: transform 400ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: transform 400ms cubic-bezier(0.5, 0, 0.5, 1), -webkit-transform 400ms cubic-bezier(0.5, 0, 0.5, 1);
}

.slider-communities-pagination {
    pointer-events: none;
    text-align: center;
    width: 100%;
}
.slider-communities-pagination > * {
    background-color: rgba(213, 213, 213, 1);
    display: inline-block;
    height: 3px;
    border: none;
    margin-left: 4px;
    margin-right: 4px;
    transition: background-color 250ms;
    width: 15px;
}
.slider-communities-pagination > *.is-active {
    background-color: #00b4db;
}

.slider-communities-panel {
    width: 100%;
}

.slider-communities-panel ul {
    margin: 0 auto!important;
    padding: 0 !important;
    height: 50px;
    width: 100%;
    display: inline-block;
    list-style-type: none;
}

.slider-communities-panel ul li {
    height: 100%;
    text-align: center;
    float: left;
    width: calc(100%/5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-communities-panel ul li i {
    font-size: 24px;
    background: -webkit-linear-gradient( #393939, #393939);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/**
    Community Template
 */

.block--communities-header{
    width: 95%;
    margin: 0 auto;
}

.block--communities-header .community-template-imgslider{
    width: 100%;
    height: 120px;
    margin: 0 auto;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    color: #F9F9F9;
    top: 50%;
    border-radius: 10px;
}

.block--communities-infos {
    height: 100%;
    text-align: center;
    background: #F9F9F9;
    border-radius: 10px;
    width: 95%;
    padding: 20px 0px;
    margin: 20px auto 20px auto;
}

.community-template-imgslider div{
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;

}

.community-template-imgslider .prev, .next {

    cursor: pointer;
    width: auto;
    z-index: 1;
    position: absolute;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    top: 50%;
    transform: translateY(-50%);
}

.community-template-imgslider .next {
    right: 0px;
}

.community-template-imgslider .none{
    display: none;
}



.community-template-actions{
    display: flex;
    width: 100%;
    padding: 0px 0px 10px 0px;
    justify-content: space-around;
}

.block--comunities-statistics{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.statistic-element {
    width: calc(100% / 4);
}

.proposal-element{
    width: 45%;
    margin: 10px auto;
}

.status-announce {
    width: calc(100% - 10%);
    display: block;
    padding: 5px  5%;
    background: red;
    position: absolute;
    top: 0;
    border-radius: 10px 10px 0px 0px;
    font-weight: 800 !important;
    font-size: 14px !important;
}

.block--comunities-statistics .community-template-infos{
    height: 30px;
}

.block--comunities-statistics .community-template-infos .title-infos{
    text-align: center;

}

.block--comunities-statistics .community-template-values .members-values{
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
}

.block--comunities-statistics .community-template-values .announces-values{
    grid-column: 2/3;
    grid-row: 2;
    text-align: center;
}

.block--comunities-statistics .community-template-values .location-values{
    grid-column: 3/3;
    grid-row: 2;
    text-align: center;
}

.block--comunities-statistics .community-template-infos .title-infos{
    text-align: center;
}


.block--comunities-last-announces{
    width: 100%;
}

.block--comunities-last-announces .community-announce{
    width: 90%;
    height: 150px;
    border: 2px solid #556270;
    margin: 0 auto;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.block--comunities-last-announces .community-announce .last-announces-titles{
    text-align: center;
}


.block--comunities-last-announces .community-announce .last-announces-icons{
    display: grid;
    grid-template-rows: repeat(3, 1fr) ;
    text-align: center;

}

.block--comunities-last-announces .community-announce .last-announces-values{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;

}

.block--community-last-announce{
    background-color: transparent;
    height: auto;
    width: 95%;
    border-radius: 10px;
    margin: 10px auto 20px auto;
}

.block--community-last-announce .block--community-info{
    height: 40px;
    width: 60%;
    background:linear-gradient(to bottom, rgba(35, 172, 182, 1), rgba(14, 100, 141, 1));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin: 0 auto;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    padding: 0 10px;
    box-shadow: rgba(57, 57, 57, 0.3) 0px 5px 10px;
}

.block--community-last-announce .block--community-info span {
    text-align: center;
    color: #F6F6F6;
    text-transform: uppercase;
}

.block--community-last-announce .community-announce-wrap{
    height: 100%;
}

.block--community-last-announce ul {
    height: 100%;
    padding: 0 !important;
    list-style: none;
    width: 100%;
}
.block--community-last-announce ul li{
    box-shadow: rgba(40, 40, 40, 0.3) 0px 5px 10px;
    border-radius: 10px;
    height: 150px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 15px 0px;
}

.block--community-last-announce ul li .background-gradiant-community-announce{
    background: black;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.block--community-last-announce ul li img{
    width: 100%;
}

.block--community-last-announce ul li .community-announce-info{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    color: #F9F9F9;
    top: 50%;
    transform: translateY(-50%);
}

.block--community-last-announce ul li .community-announce-info h3{
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
}

.block--community-last-announce ul li .community-announce-info p{
    width: 75%;
    font-size: 13px;
}

.community-announce-additional-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
}



.block--communities-header{
    width: 95%;
    margin: 0 auto;
}

.block--communities-header .community-template-imgslider{
    width: 100%;
    height: 120px;
    margin: 0 auto;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    color: #F9F9F9;
    top: 50%;
    border-radius: 10px;
}

.block--communities-infos {
    height: 100%;
    text-align: center;
    background: #F9F9F9;
    border-radius: 10px;
    width: 95%;
    padding: 20px 0px;
    margin: 20px auto 20px auto;
}

.community-template-imgslider div{
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;

}

.community-template-imgslider .prev, .next {

    cursor: pointer;
    width: auto;
    z-index: 1;
    position: absolute;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    top: 50%;
    transform: translateY(-50%);
}

.community-template-imgslider .next {
    right: 0px;
}

.community-template-imgslider .none{
    display: none;
}



.community-template-actions{
    display: flex;
    width: 100%;
    padding: 0px 0px 10px 0px;
    justify-content: space-around;
}

.block--comunities-statistics{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.block--comunities-statistics .community-template-infos{
    height: 30px;
}

.block--comunities-statistics .community-template-infos .title-infos{
    text-align: center;

}

.block--comunities-statistics .community-template-values .members-values{
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
}

.block--comunities-statistics .community-template-values .announces-values{
    grid-column: 2/3;
    grid-row: 2;
    text-align: center;
}

.block--comunities-statistics .community-template-values .location-values{
    grid-column: 3/3;
    grid-row: 2;
    text-align: center;
}

.block--comunities-statistics .community-template-infos .title-infos{
    text-align: center;
}







.block--announces-header{
    width: 95%;
    margin: 0 auto;
}

.block--announces-header .announce-template-imgslider{
    width: 100%;
    height: 120px;
    margin: 0 auto;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    color: #F9F9F9;
    top: 50%;
    border-radius: 10px;
}

.block--announces-infos {
    height: 100%;
    text-align: center;
    background: #F9F9F9;
    border-radius: 10px;
    width: 95%;
    padding: 20px 0px;
    margin: 20px auto 20px auto;
}



/* Useful Classes */
.xy-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transition {
    transition: all 350ms ease-in-out;
}

.r-3-2 {
    width: 100%;
    padding-bottom: 66.667%;
    background-color: #ddd;
}

.image-holder {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Main Styles */
.gallery-wrapper {
    position: relative;
    overflow: hidden;
}

.gallery {
    position: relative;
    white-space: nowrap;
    font-size: 0;
}

.item-wrapper {
    cursor: pointer;
    width: 23%; /* arbitrary value */
    display: inline-block;
    background-color: white;
}

.gallery-item { opacity: 0.5; }
.gallery-item.active { opacity: 1; }

.controls {
    font-size: 0;
    border-top: none;
}
.move-btn {
    display: inline-block;
    width: 50%;
    border: none;
    color: #ccc;
    background-color: transparent;
    padding: 0.2em 1.5em;
}
.move-btn:first-child {border-right: none;}
.move-btn.left  { cursor: w-resize; }
.move-btn.right { cursor: e-resize; }


.announce-template-actions{
    display: flex;
    width: 100%;
    padding: 0px 0px 10px 0px;
    justify-content: space-around;
}

.block--announce-statistics{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.block--announce-statistics .community-template-infos{
    height: 30px;
}

.block--announce-statistics .community-template-infos .title-infos{
    text-align: center;

}

.block--announce-statistics .community-template-values .members-values{
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
}

.block--announce-statistics .community-template-values .announces-values{
    grid-column: 2/3;
    grid-row: 2;
    text-align: center;
}

.block--announce-statistics .community-template-values .location-values{
    grid-column: 3/3;
    grid-row: 2;
    text-align: center;
}

.block--announce-statistics .community-template-infos .title-infos{
    text-align: center;
}

.block--add-community {
    margin-top: 25px;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.form-container {
    background:#F9F9F9;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    padding: 15px 0 20px 0;
    box-shadow: rgba(40, 40, 40, 0.1) 0px 3px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.add-community-form {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding-bottom: 50px;
}

.btn-create-community {
    background:linear-gradient(to bottom, rgba(35, 172, 182, 1), rgba(14, 100, 141, 1));
    width: 20%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.thumbnail-resize {
    width: 100%;
    margin-bottom: 10px;
}

.single-img-constraint, .file-content{
    text-align: center;
    margin-bottom: 20px;
}

.add-community-form input[type='file'] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label-anim {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}
.label-anim .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}
.label-anim .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}
.label-anim input, .label-anim textarea {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}
.label-anim input:hover, .label-anim textarea:hover {
    background: rgba(34,50,84,0.03);
}
.label-anim input:not(:placeholder-shown) + span, .label-anim textarea:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}
.label-anim input:focus, .label-anim textarea:focus {
    background: none;
    outline: none;
}
.label-anim input:focus + span, .label-anim textarea:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}
.label-anim input:focus + span + .border, .label-anim textarea:focus + span + .border {
    transform: scaleX(1);
}


/**
FLASH MESSAGES
 */

.flash-wrap {
    position: relative;
    width: calc(100% - 20px);
    padding-top: 10px;
    padding-left: 20px;
    height: 30px;
    display: block;
}

.flash-wrap .flash-close-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    border-style: none;
    background: transparent;
    font-size: 24px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
}

.error, .error.flash-message {
    background:linear-gradient(to bottom, rgb(182, 36, 36), rgb(141, 16, 20));
    color: #FFFFFF;
}

.info, .info.flash-message {
    background:linear-gradient(to bottom, rgba(35, 172, 182, 1), rgba(14, 100, 141, 1));
    color: #FFFFFF;
}

.success, .success.flash-message {
    background:linear-gradient(to bottom, rgb(44, 182, 42), rgb(11, 141, 12));
    color: #FFFFFF
}
