{% extends 'layout.html.twig' %}
{% block wrapper %}


<form method="post" action="http://localhost:8000/edition/profil/do">
    <input name="username" placeholder="username" type="text" value="{{ user.username }}">
    <input name="password" placeholder="password" type="text">
    <input name="firstname" {% if user.firstname is null %} placeholder="First Name" {% else %} value="{{ user.firstname }}" {% endif %}type="text" >
    <input name="lastname" type="text" value="{{ user.lastname }}">
    <input name="email" type="text" value="{{ user.email }}">
    <input name="phone" type="tel" value="{{ user.phone }}">
    <input type="submit" value="Modifier">

    // si value = null mettre le placeholder // à faire

</form>

<section class="block--about">
    <div class="block--title">
        <span class="first">Comment ça</span>
        <span class="second"><h5>fonctionne</h5></span>
    </div>
    <div class="info-wrap">
        <div class="communitary-content">
            <div class="communitary-icon">
                <i class="fas fa-handshake"></i>
            </div>
            <div class="info">
                <h4>ECHANGES & DONS</h4>
                <p>La plateforme repose entièrement sur de l'échange, du dons ou des services gratuits</p>
            </div>
        </div>
        <div class="no-money-content">
            <div class="no-money-icon">
                <i class="fas fa-dollar-sign"></i>
            </div>
            <div class="info">
                <h4>AUCUN ARGENT</h4>
                <p>Aucun système économique, nous voulons nous échapper de cette méthode de valorisation de l'objet</p>
            </div>
        </div>
        <div class="ecology-content">
            <div class="ecology-icon">
                <i class="fas fa-leaf"></i>
            </div>
            <div class="info">
                <h4>ECOLOGIE</h4>
                <p>Un object donné est un object à recycler en moins, un échange est une seconde vie d'un objet.</p>
            </div>
        </div>
    </div>
</section>
{% endblock wrapper %}