{% extends 'layout.html.twig' %}
{% block wrapper %}
    <section class="block--add-community">
        <div class="block--title">
            <span class="first">Création d'une </span>
            <span class="second"><h5>annonce</h5></span>
        </div>

        <div class="form-container">
            <form enctype="multipart/form-data" action="{{ router.generateUri("validate.add.announce", {'idCommunity' : idCommunity}) }}" class="add-community-form" id="submitForm" method="post">
                <label for="label-anim" class="label-anim">
                    <input type="text" id="announce_name" name="title" placeholder="&nbsp;">
                    <span class="label">Titre</span>
                    <span class="border"></span>
                </label>
                <br>
                <label for="label-anim" class="label-anim">
                    <input type="text" id="announce_description" name="description" placeholder="&nbsp;">
                    <span class="label">Description</span>
                    <span class="border"></span>
                </label>
                <br>
                <label for="label-anim" class="label-anim">
                    <input type="number" id="announce_uev_value" name="uev_value" placeholder="&nbsp;">
                    <span class="label">Valeur uev</span>
                    <span class="border"></span>
                </label>
                <br>
                <select id="type-select" name="type">
                    <option value="">Merci de choisir un type</option>
                    <option value="echange">Echange</option>
                    <option value="donne">Don</option>
                    <option value="service">Service</option>
                </select>

                <br/>

                <div id="filediv1" class="file-content">
                    <input name="file[]" type="file" class="input-img btn-principal" id="file1"/>
                    <br>
                    <br>
                    <label for="file1" id="select-img" class="btn-principal">Selectionner une image</label>
                </div>

                <input type="button" id="add_more" class="btn-principal btn-principal-grey" value="Ajouter une image"/>

                <div id="list-result">
                    <ul id="list-result-block">

                    </ul>
                </div>

                <button type="submit" id="upload" class="btn-principal btn-create-community">Créer</button>
            </form>
        </div>
    </section>
{% endblock wrapper %}