{% extends 'layout.html.twig' %}
{% block wrapper %}
    <section class="block--add-community">
        <div class="block--title">
            <span class="first">Création d'une </span>
            <span class="second"><h5>communauté</h5></span>
        </div>

        <div class="form-container">
            <form enctype="multipart/form-data" action="{{ router.generateUri("validate.add.community") }}" class="add-community-form" id="submitForm" method="post">
                <label for="label-anim" class="label-anim">
                    <input type="text" id="nacommunity_nameme" name="name" placeholder="&nbsp;">
                    <span class="label">Nom</span>
                    <span class="border"></span>
                </label>
                <br>
                <label for="label-anim" class="label-anim">
                    <input type="text" id="community_description" name="description" placeholder="&nbsp;">
                    <span class="label">Description</span>
                    <span class="border"></span>
                </label>
                <br>
                <label for="label-anim" class="label-anim">
                    <input type="hidden" name="city" id="search-input-city2"/>
                    <input class="search-text" id="search-input-hash" name="city-name" type="search" placeholder="&nbsp;">
                    <span class="label">Ville</span>
                    <span class="border"></span>
                </label>
                <br>
                <div id="filediv1" class="file-content">
                    <input name="file[]" type="file" class="input-img btn-principal" id="file1"/>
                    <br>
                    <br>
                    <label for="file1" id="select-img" class="btn-principal">Selectionner une image</label>
                </div>

                <input type="button" id="add_more" class="btn-principal btn-principal-grey" value="Ajouter une image"/>

                <div id="list-result">
                    <ul id="list-result-block">

                    </ul>
                </div>

                <button type="submit" id="upload" class="btn-principal btn-create-community">Créer</button>
            </form>
        </div>
    </section>
{% endblock wrapper %}