{% extends 'layout.html.twig' %}
{% block wrapper %}
    <div class="block--communities-header">


        <div class="block--title" style="width: 100%">
            <span class="first" style="padding: 0px 0;">{{ community.name }}</span>
        </div>
    </div>

    <div class="block--communities-infos">
        <div class="community-template-actions">
            {% if session.User %}
                {% if session.User.id != community.admin %}
                    <p>Vous n'êtes pas administrateur de cette communauté</p>
                {% endif %}
            {% else %}
                <p style="margin-top: 20px">Vous devez être <a style="color: #2c3e50; cursor: pointer" href="/connexion">connecté</a> pour rejoindre une communauté</p>
            {% endif %}
        </div>
    </div>
    <div class="block--community-last-announce">
        <div class="block--title">
            <span class="first">Les</span>
            <span class="second"><h5>Annonces</h5></span>
        </div>
        {% if announces is not empty %}
        <div class="community-announce-wrap">
            <ul>
                {% for announce in announces %}
                    <li>
                        <div class="background-gradiant-community-announce" onclick="redirectionToAnnounce({{ community.id }}, {{ announce.id }})"></div>
                        <img src="/assets/img/ville1.jpeg">
                        <div class="community-announce-info" onclick="redirectionToAnnounce({{ community.id }}, {{ announce.id }})">
                            <h3>{{ announce.title }}</h3>
                            <p>{{ announce.description |truncate(35) }}</p>
                            <div class="community-announce-additional-info">
                                <div class="info-date">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    {{ announce.created_at|date('d/m/Y') }}
                                </div>
                                <div class="info-time">
                                    <i class="far fa-clock"></i>
                                    {{ announce.created_at|date('H:i') }}
                                </div>
                                <div class="info-currency">
                                    <i class="fas fa-money-bill" aria-hidden="true"></i>
                                    25
                                </div>
                            </div>
                            {% if session.User.id == community.admin %}
                            <a style="text-decoration: none" class="btn-principal" href="/delete/community/{{ community.id }}/annonce/{{ announce.id }}">Supprimer l'annonce</a>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <button style="margin: 0 auto; display: block;" class="btn-principal">Voir toutes les annonces</button>
        </div>
        {% endif %}
    </div>
{% endblock wrapper %}