{% extends 'layout.html.twig' %}
{% block wrapper %}
    <div class="block--announces-header">
        <div class="friend-element" style=" margin: 10px auto; background:linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('/uploads/avatar/{{ announce.author.avatar[0].uploadName }}')">
            <h5><a style="text-decoration: none; color: white" href="{{ router.generateUri('show.profil.user', {'idUser' : announce.author.id}) }}">{{ announce.author.username }}</a></h5>
        </div>
        <div class="feature">
            <figure class="featured-item image-holder r-3-2 transition"></figure>
        </div>

        <div class="gallery-wrapper">
            <div class="gallery">
                {% set i = 0 %}
                {% for image in imagesArray %}
                    {% set i = i + 1 %}
                    {% if i == 1 %}
                        <div class="item-wrapper">
                            <figure class="gallery-item image-holder r-3-2 active transition">
                            </figure>
                        </div>
                    {% else %}
                        <div class="item-wrapper">
                            <figure class="gallery-item image-holder r-3-2 transition"></figure>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="controls">
        <button class="move-btn left">&larr;</button>
        <button class="move-btn right">&rarr;</button>
    </div>
    <div class="block--announces-infos" style="padding-top: 0px;">
        <div class="block--title" style="padding-top: 0px; width: 100%">
            <span class="first" style="padding: 0px 0; height: auto;">{{ announce.title}}</span>
        </div>
        <div class="block--announce-statistics">
            <div class="announce-template-infos">
                <h3 class="title-infos">Postée le</h3>
            </div>
            <div class="announce-template-infos">
                <h3 class="title-infos">Uev</h3>
            </div>
            <div class="announce-template-infos">
                <h3 class="title-infos">Localisation</h3>
            </div>

            <div class="announce-template-values">
                <p class="members-values" style="color: rgba(22,22,22,1)">{{ announce.createdAt|date('d/m/Y H:i') }}</p>
            </div>
            <div class="announce-template-values">
                    <p style="color: rgba(22,22,22,1)">{{ announce.uevValue }}</p>
            </div>
            <div class="announce-template-values">
                <p class="location-values" style="color: rgba(22,22,22,1)">{{ city.name }}</p>
            </div>
        </div>
        <p style="margin-top: 20px; padding: 0px 20px; background: rgba(213,221,229, 0.2);text-align: justify;  color: rgba(22,22,22,1)">
            <i class="fas fa-quote-left" style="margin-right: 10px; color:#23ACB6"></i>
            {{ announce.description }}
            <i class="fas fa-quote-right" style="margin-left: 10px; color:#23ACB6"></i>
        </p>
        <br>
        <div class="community-template-actions">

            {% if session.User%}
                {% if session.User.id != announce.userId and isMember %}
                    <button class="btn-principal text-actions" id="add-announce-action" style="text-decoration: none;"><a href="/communaute/{{ communityId }}/contact-annonce/{{ announce.id }}"><i class="fas fa-mail-bulk"></i> Contacter</a></button>
                {% else %}
                    <div style="display: flex; flex-direction: column; align-items: center">
                        <button class="btn-principal text-actions" disabled="true" id="add-announce-action" style="text-decoration: none; width: 50%;">><i class="fas fa-mail-bulk"></i> Contacter</button>
                        <br/>
                        <i style="color: #BD3939">Vous devez être membre pour contacter un annonceur</i>
                    </div>
                {% endif %}
            {% else %}
                <p style="margin-top: 20px">Vous devez être <a style="color: #2c3e50; cursor: pointer" href="/connexion">connecté</a> pour répondre à une annonce</p>
            {% endif %}
        </div>
    </div>

    {% if announce.userId == session.User.id and announce.proposal is not empty %}
        <div class="block--announces-infos" style="padding-top: 0">
            <div class="block--title" style="padding-top: 0px; width: 100%">
                <span class="first" style="padding: 0px 0; height: auto;">Propositions</span>
            </div>
            <div class="community-template-actions" style="flex-wrap: wrap">
                {% for proposal in announce.proposal %}
                    <div class="proposal-element">
                        <h4>Proposition de: </h4><h5 style="color:rgb(22,22,22); font-weight: normal">{{ proposal.user.username }}</h5>
                        <h4>Date du: </h4><h5 style="color:rgb(22,22,22); font-weight: normal">{{ proposal.createdAt | date('d-m-Y') }}</h5>
                        <br/>
                        {% if proposal.acceptedAt is not null %}
                            <h5 style="font-weight: normal; color:rgb(22,22,22)">Acceptée le: {{ proposal.acceptedAt | date('d-m-Y H') }}</h5>
                        {% elseif proposal.rejectedAt is not null %}
                            <h5 style="font-weight: normal; color:rgb(22,22,22)">Refusée le: {{ proposal.rejectedAt | date('d-m-Y H') }}</h5>
                        {% else %}
                            <h5 style="font-weight: normal; color:rgb(22,22,22)">En attente de réponse</h5>
                        {% endif %}
                        <form method="POST" action="{{ router.generateUri('accept.decline.proposal', {'idProposal' : proposal.id}) }}">
                            {% if checkProposalOneAccepted %}
                                <button class="btn-principal" disabled=true name="accept" value="true" type="submit">
                                    <i class="fas fa-check"></i>
                                </button>
                            {% else %}
                                <button class="btn-principal" name="accept" value="true" type="submit">
                                    <i class="fas fa-check"></i>
                                </button>
                            {% endif %}
                            <button class="btn-principal btn-principal-red" value="false" name="decline" type="submit"><i class="fas fa-times"></i></button>
                        </form>
                    </div>
                {% endfor %}
            </div>
            {% if announce.isWaitingExchange and announce.isWasExchanged == false %}
                <a class="btn-principal" style="margin: 10px auto; text-decoration: none; width: 50%; display: block" href="{{ router.generateUri('announce.was.exchanged.action', {'idAnnounce' : announce.id }) }}">Don / Echange / Service effectué</a>
                {% elseif announce.isWasExchanged %}
                    <span class="btn-principal btn-principal-grey" style="color: #F9F9F9; margin: 10px auto; text-decoration: none; width: 50%; display: block">Don / Echange / Service effectué</span>
            {% endif %}
        </div>
    {% endif %}
    <script>
        var gallery = document.querySelector('.gallery');
        var galleryItems = document.querySelectorAll('.gallery-item');
        var numOfItems = gallery.children.length;
        var itemWidth = 23; // percent: as set in css

        var featured = document.querySelector('.featured-item');

        var leftBtn = document.querySelector('.move-btn.left');
        var rightBtn = document.querySelector('.move-btn.right');
        var leftInterval;
        var rightInterval;

        var scrollRate = 0.2;
        var left;

        function selectItem(e) {
            if (e.target.classList.contains('active')) return;

            featured.style.backgroundImage = e.target.style.backgroundImage;
            for (var i = 0; i < galleryItems.length; i++) {
                if (galleryItems[i].classList.contains('active'))
                    galleryItems[i].classList.remove('active');
            }

            e.target.classList.add('active');
        }

        function galleryWrapLeft() {
            var first = gallery.children[0];
            gallery.removeChild(first);
            gallery.style.left = -itemWidth + '%';
            gallery.appendChild(first);
            gallery.style.left = '0%';
        }

        function galleryWrapRight() {
            var last = gallery.children[gallery.children.length - 1];
            gallery.removeChild(last);
            gallery.insertBefore(last, gallery.children[0]);
            gallery.style.left = '-23%';
        }

        function moveLeft() {
            left = left || 0;

            leftInterval = setInterval(function() {
                gallery.style.left = left + '%';

                if (left > -itemWidth) {
                    left -= scrollRate;
                } else {
                    left = 0;
                    galleryWrapLeft();
                }
            }, 1);
        }

        function moveRight() {
            //Make sure there is element to the leftd
            if (left > -itemWidth && left < 0) {
                left = left  - itemWidth;

                var last = gallery.children[gallery.children.length - 1];
                gallery.removeChild(last);
                gallery.style.left = left + '%';
                gallery.insertBefore(last, gallery.children[0]);
            }

            left = left || 0;

            leftInterval = setInterval(function() {
                gallery.style.left = left + '%';

                if (left < 0) {
                    left += scrollRate;
                } else {
                    left = -itemWidth;
                    galleryWrapRight();
                }
            }, 1);
        }

        function stopMovement() {
            clearInterval(leftInterval);
            clearInterval(rightInterval);
        }

        leftBtn.addEventListener('mouseenter', moveLeft);
        leftBtn.addEventListener('mouseleave', stopMovement);
        rightBtn.addEventListener('mouseenter', moveRight);
        rightBtn.addEventListener('mouseleave', stopMovement);


        //Start this baby up
        (function init() {
            var images = {{ imagesArray | json_encode | raw }};

            //Set Initial Featured Image
            featured.style.backgroundImage = 'url(' + images[0] + ')';
            featured.style.backgroundSize = 'contain';

            //Set Images for Gallery and Add Event Listeners
            for (var i = 0; i < galleryItems.length; i++) {
                galleryItems[i].style.backgroundImage = 'url(' + images[i] + ')';
                galleryItems[i].addEventListener('click', selectItem);
            }
        })();
    </script>
{% endblock wrapper %}

