{% extends 'layout.html.twig' %}
{% block wrapper %}
    <div class="block--communities-header">

        <div class="community-template-imgslider">
            <i class="fas fa-arrow-left prev"></i>
            {% set i = 0 %}
            {% for image in community.images %}
                {% set i = i + 1 %}
                {% if i == 1 %}
                    <div id="community-img-{{ i }}" style="background: url('/uploads/community/{{ image.uploadName }}')"></div>
                {% else %}
                    <div id="community-img-{{ i }}" class="none" style="background: url('/uploads/community/{{ image.uploadName }}')"></div>
                {% endif %}
            {% endfor %}
            <i class="fas fa-arrow-right next"></i>
        </div>

    </div>

    <div class="block--communities-infos">
        <div class="block--title" style="width: 100%">
            <span class="first" style="padding: 0px 0; height: auto">{{ community.name }}</span>
        </div>
        <div class="block--comunities-statistics">
            <div class="community-template-infos">
                <h3 class="title-infos">Membres</h3>
            </div>
            <div class="community-template-infos">
                <h3 class="title-infos">Annonces</h3>
            </div>
            <div class="community-template-infos">
                <h3 class="title-infos">Localisation</h3>
            </div>

            <div class="community-template-values">
                <p class="members-values">123</p>
            </div>
            <div class="community-template-values">
                <p class="announces-values">{{ announces | length }}</p>
            </div>
            <div class="community-template-values">
                <p class="location-values">{{ city.name }}</p>
            </div>
        </div>
        <div class="community-template-actions">
            {% if session.User %}
                {% if isAMember %}
                    <button class="btn-principal text-actions" id="add-announce-action" style="text-decoration: none;" href=""><a href="/communaute/{{ community.id }}/ajout-annonce">Ajouter annonce</a></button>
                    {% if community.admin != session.User.id %}
                    <button onclick="joinCommunityActionAjax({{ request.attributes.idCommunity }})" class="btn-principal text-actions" id="join-community-action" style="text-decoration: none; display: none;" href="">Rejoindre</button>
                    <button class="btn-principal text-actions" style="text-decoration: none;" href="">Contacter</button>
                    <button onclick="leaveCommunityActionAjax({{ request.attributes.idCommunity }})" class="btn-principal btn-principal-red text-actions" id="leave-community-action" style="text-decoration: none;" href="">Quitter</button>
                        {% endif %}
                    {% if community.admin == session.User.id %} <button class="btn-principal text-actions" id="add-admin-community" style="text-decoration: none;"><a href="/communaute/{{ community.id }}/admin">Gérer la communauté</a></button>{% endif %}

                {% else %}
                    <button onclick="joinCommunityActionAjax({{ request.attributes.idCommunity }})" class="btn-principal text-actions" id="join-community-action" style="text-decoration: none;" href="">Rejoindre</button>
                    <button class="btn-principal text-actions" id="add-announce-action" style="text-decoration: none; display:none;"><a href="/communaute/{{ community.id }}/ajout-annonce">Ajouter annonce</a></button>
                    {% if community.admin != session.User.id %}
                        <button class="btn-principal text-actions" style="text-decoration: none;" href="">Contacter</button>
                        <button onclick="leaveCommunityActionAjax({{ request.attributes.idCommunity }})" class="btn-principal btn-principal-red text-actions" id="leave-community-action" style="text-decoration: none; display: none;">Quitter</button>
                    {% endif %}
                {% endif %}

            {% else %}
                <p style="margin-top: 20px">Vous devez être <a style="color: #2c3e50; cursor: pointer" href="{{ router.generateUri('connexion.route') }}">connecté</a> pour rejoindre une communauté</p>
            {% endif %}
        </div>
    </div>
    <div class="block--community-last-announce">
        <div class="block--title">
            <span class="first">Dernières</span>
            <span class="second"><h5>annonces</h5></span>
        </div>
        <div class="community-announce-wrap">
            {% if announces is not empty %}
                <ul>
                {% for announce in announces %}
                <li>
                    <div class="background-gradiant-community-announce" onclick="redirectionToAnnounce({{ community.id }}, {{ announce.id }})"></div>
                    <img style="transform: translateY(-50%);" src="/uploads/announce/{{ announce.images[0].uploadName }}">
                    <div class="community-announce-info" onclick="redirectionToAnnounce({{ community.id }}, {{ announce.id }})">
                        <h3>{{ announce.title }}</h3>
                        <div class="community-announce-additional-info">
                            <div class="info-date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                {{ announce.createdAt|date('d/m/Y') }}
                            </div>
                            <div class="info-time">
                                <i class="far fa-clock"></i>
                                {{ announce.type }}
                            </div>
                            <div class="info-currency">
                                <i class="fas fa-money-bill" aria-hidden="true"></i>
                                {{ announce.uevValue }}
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <button style="margin: 0 auto; display: block;" class="btn-principal">Voir toutes les annonces</button>
            {% else  %}
                <p> Il n'y a pour le moment aucun annonce sur cette communauté</p>
            {% endif %}
        </div>
    </div>
    <div class="block--community-members" style="margin-top: 40px;">
        <div class="block--title" style="padding-top: 0px">
            <span class="first">Membres</span>
        </div>
        {% if community.members is not empty and community.members is not null %}
            <div class="members-list">
                {% for member in community.members %}
                    {% if member.id == community.admin %}
                        <div class="admin-community">
                            <h5 class="admin-community-status"> Administrateur</h5>
                            <div class="member-element" style="background:linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('/uploads/avatar/{{ member.avatar[0].uploadName }}')">
                                {% if member.id == session.User.id %}
                                    <h5><a style="text-decoration: none; color: white" href="{{ router.generateUri('profil.user') }}">{{ member.username }}</a></h5>
                                {% else %}
                                    <h5><a style="text-decoration: none; color: white" href="{{ router.generateUri('show.profil.user', {'idUser' : member.id}) }}">{{ member.username }}</a></h5>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                    <div class="member-element" style="background:linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('/uploads/avatar/{{ member.avatar[0].uploadName }}')">
                        {% if member.id == session.User.id %}
                            <h5><a style="text-decoration: none; color: white" href="{{ router.generateUri('profil.user') }}">{{ member.username }}</a></h5>
                        {% else %}
                            <h5><a style="text-decoration: none; color: white" href="{{ router.generateUri('show.profil.user', {'idUser' : member.id}) }}">{{ member.username }}</a></h5>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun amis</p>
        {% endif %}
    </div>
{% endblock wrapper %}