{% extends 'layout.html.twig' %}
{% block wrapper %}
    <section class="block--search">
        <!--<div class="block--info">
            <span>Recherche pour troquer</span>
        </div>-->
        {{ communitary }}
        {% include '_partials/_searchMotor.html.twig' %}
    </section>
    <section class="block--last-announce">
        <div class="block--title">
            {% if cityName is defined and cityName is not null %}
                <span class="first" style="width: auto">Listes Communautés</span>
            <span class="second" style="width: auto"><h5>{{ cityName }}</h5></span>
                {% else %}
                    <span class="first" style="width: 30%">Listes </span>
                    <span class="second" style="width: 70%"><h5>Communautés</h5></span>
            {% endif %}
        </div>
        <div class="announce-wrap">
            <ul>
                {% for community in communities %}
                    <li>
                        <div class="background-gradiant-announce"></div>
                        <img src="/uploads/community/{{ community.images[0].uploadName }}">
                        <div class="announce-info">
                            <h3>{{ community.name }}</h3>
                            <p>{{ community.description }}</p>
                            <button class="btn-principal"><a href="/communaute/{{ community.id }}" style="text-decoration: none">Voir</a></button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <nav class="pagination-container">
            <div class="pagination">
                <a class="pagination-newer" href="#">PREV</a>
                <span class="pagination-inner">
					<a href="#">1</a>
					<a class="pagination-active" href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">6</a>
				</span>
                <a class="pagination-older" href="#">NEXT</a>
            </div>
        </nav>
    </section>
{% endblock wrapper %}