{% extends 'layout.html.twig' %}
{% block wrapper %}
    <div class="block--register">


        <div class="block--title">
            <span class="second"><h5>Connexion</h5></span>
        </div>        <form action="/connexion-check" method="POST">
            <div class="register-wrap">
                <input type="text" name="username" placeholder="Identifiant">
            </div>
            <div class="register-wrap">
                <input type="password" name="password" placeholder="mot de passe...">
            </div>
            <button class="btn-principal" style="width:auto; text-align: center; left: 70%; margin-bottom: 20px;" type="submit">Connexion</button>
            <a class="btn-principal btn-principal-grey" style="text-decoration: none; color: white; left: -20%; margin-right: 50px;"href="/inscription">INSCRIPTION</a>

        </form>
    </div>
{% endblock wrapper %}