{% extends 'layout.html.twig' %}
{% block wrapper %}
    <section class="block--add-community">
        <div class="block--title">
            <span class="first">Création d'une </span>
            <span class="second"><h5>communauté</h5></span>
        </div>

        <div class="form-container">
            <form enctype="multipart/form-data" action="{{ router.generateUri("edit.profil.user.validate") }}" class="add-community-form" id="submitForm" method="post">
                <label for="label-anim" class="label-anim">
                    <input type="text" name="username" placeholder="&nbsp;" value="{{ user.username }}">
                    <span class="label">Nom utilisateur</span>
                    <span class="border"></span>
                </label>
                <br>
                <label for="label-anim" class="label-anim">
                    <input type="text" name="lastname" placeholder="&nbsp;" value="{{ user.firstName }}">
                    <span class="label">Nom de famille</span>
                    <span class="border"></span>
                </label>
                <br>
                <label for="label-anim" class="label-anim">
                    <input type="text" name="firstname" placeholder="&nbsp;" value="{{ user.lastName }}">
                    <span class="label">Prénom</span>
                    <span class="border"></span>
                </label>
                <br>
                <label for="label-anim" class="label-anim">
                    <input type="email" name="email" placeholder="&nbsp;" value="{{ user.email }}">
                    <span class="label">Email</span>
                    <span class="border"></span>
                </label>
                <br>
                <label for="label-anim" class="label-anim">
                    <input type="number" name="phone" placeholder="&nbsp;" value="{{ user.phone }}">
                    <span class="label">Téléphone</span>
                    <span class="border"></span>
                </label>
                <br>
                <label for="label-anim" class="label-anim">
                    <input type="text" name="hobbies" placeholder="&nbsp;" value="{{ user.hobbies }}">
                    <span class="label">Centre d'intérêt</span>
                    <span class="border"></span>
                </label>
                <br/>
                <br/>
                <button class="btn-principal" type="submit">Modifier</button>
                <button class="btn-principal btn-principal-red" type="button">Annuler</button>
            </form>
        </div>
    </section>
{% endblock wrapper %}