{% extends 'layout.html.twig' %}
{% block wrapper %}
    <section class="block--search">
        <!--<div class="block--info">
            <span>Recherche pour troquer</span>
        </div>-->
        {% include '_partials/_searchMotor.html.twig' %}
    </section>
    <section class="block--last-announce">
        <div class="block--title">
            <span class="first">Communautés</span>
            <span class="second"><h5>Actives</h5></span>
        </div>
        <div class="announce-wrap">
            <ul>
                {% for community in communities %}
                    <li>
                        <div class="background-gradiant-announce"></div>
                        <img src="/uploads/community/{{ community.images[0].uploadName }}">
                        <div class="announce-info">
                            <h3>{{ community.name }}</h3>
                            <p>{{ community.description }}</p>
                            <button class="btn-principal"><a href="/communaute/{{ community.id }}" style="text-decoration: none">Voir</a></button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="block--about">
        <div class="block--title">
            <span class="first">Comment ça</span>
            <span class="second"><h5>fonctionne</h5></span>
        </div>
        <div class="info-wrap">
            <div class="communitary-content">
                <div class="communitary-icon">
                    <i class="fas fa-handshake"></i>
                </div>
                <div class="informations">
                    <h4>ECHANGES & DONS</h4>
                    <p>La plateforme repose entièrement sur de l'échange, du dons ou des services gratuits</p>
                </div>
            </div>
            <div class="no-money-content">
                <div class="no-money-icon">
                    <i class="fas fa-dollar-sign"></i>
                </div>
                <div class="informations">
                    <h4>AUCUN ARGENT</h4>
                    <p>Aucun système économique, nous voulons nous échapper de cette méthode de valorisation de l'objet</p>
                </div>
            </div>
            <div class="ecology-content">
                <div class="ecology-icon">
                    <i class="fas fa-leaf"></i>
                </div>
                <div class="informations">
                    <h4>ECOLOGIE</h4>
                    <p>Un object donné est un object à recycler en moins, un échange est une seconde vie d'un objet.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock wrapper %}