<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <link rel="stylesheet" href="/assets/css/all.min.css"/>
        <link rel="stylesheet" href="/assets/css/style.css">
        <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    </head>

    <body>
    {% include '_partials/_menuLeft.html.twig' %}

    <div id="content" class="container-trigger">
        <header>
            <a href="{{ router.generateUri('homepage') }}"><img src="/assets/img/logo.png" width="30%"/></a>
            {% if session.User is not null %}
                <a class="message-box-link" href="{{ router.generateUri('show.private.message.box') }}"><span class="notification-message"><i class="fas fa-mail-bulk"></i>{% if session.MessageUnread %}<span class="notif-number">{{ session.MessageUnread }}</span>{% endif %}</span></a>
            {% endif %}
        </header>
        {% if session is defined and session is not null %}
            {% block flashMessage %}{% endblock flashMessage %}
        {% endif %}
        {% include "_partials/__flashMessage.html.twig" %}
        <div class="background-gradiant"></div>
        <div class="wrapper">
            {% block wrapper %}{% endblock wrapper %}
        </div>
            {% include '_partials/_footer.html.twig' %}
    </div>

    {% include  '_partials/_menuBottom.html.twig'%}

    <script type="text/javascript" src="/assets/js/hammer.min.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
    <script type="text/javascript" src="/assets/js/swipe-menu.js"></script>
    <script type="text/javascript" src="/assets/js/community-template-slideshow.js"></script>

    </body>
</html>