{% extends 'layout.html.twig' %}
{% block wrapper %}
        <div class="community-template-actions">
            {% if session.User %}
                {% if isAMember %}
                    <button class="btn-principal text-actions" id="add-announce-action" style="text-decoration: none;" href=""><a href="/communaute/{{ community.id }}/ajout-annonce">Ajouter annonce</a></button>
                    <button onclick="joinCommunityActionAjax({{ request.attributes.idCommunity }})" class="btn-principal text-actions" id="join-community-action" style="text-decoration: none; display: none;" href="">Rejoindre</button>
                    <button class="btn-principal text-actions" style="text-decoration: none;" href="">Contacter</button>
                    <button onclick="leaveCommunityActionAjax({{ request.attributes.idCommunity }})" class="btn-principal btn-principal-red text-actions" id="leave-community-action" style="text-decoration: none;" href="">Quitter</button>
                {% else %}
                    <button onclick="joinCommunityActionAjax({{ request.attributes.idCommunity }})" class="btn-principal text-actions" id="join-community-action" style="text-decoration: none;" href="">Rejoindre</button>
                    <button class="btn-principal text-actions" id="add-announce-action" style="text-decoration: none; display:none;"><a href="/communaute/{{ community.id }}/ajout-annonce">Ajouter annonce</a></button>
                    <button class="btn-principal text-actions" style="text-decoration: none;" href="">Contacter</button>
                    <button onclick="leaveCommunityActionAjax({{ request.attributes.idCommunity }})" class="btn-principal btn-principal-red text-actions" id="leave-community-action" style="text-decoration: none; display: none;">Quitter</button>
                {% endif %}

            {% else %}
                <p style="margin-top: 20px">Vous devez être <a style="color: #2c3e50; cursor: pointer" href="/connexion">connecté</a> pour rejoindre une communauté</p>
            {% endif %}
        </div>
    </div>
    <div class="block--community-last-announce">
        <div class="block--title">
            <span class="first">Mes Annonces</span>
            <span class="second"><h5>annonces</h5></span>
        </div>
        <div class="community-announce-wrap">
            <ul>
                {{ dump(myAnnounces) }}

                {% for myAnnounce in myAnnounces %}
                    <li>
                        <div class="background-gradiant-community-announce" onclick="redirectionToAnnounce({{ community.id }}, {{ myAnnounce.id }})"></div>
                        <img src="/assets/img/ville1.jpeg">
                        <div class="community-announce-info" onclick="redirectionToAnnounce({{ community.id }}, {{ myAnnounce.id }})">
                            <h3>{{ myAnnounce.title }}</h3>
                            <p>{{ myAnnounce.description }}</p>
                            <div class="community-announce-additional-info">
                                <div class="info-date">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    {{ myAnnounce.created_at|date('d/m/Y') }}
                                </div>
                                <div class="info-time">
                                    <i class="far fa-clock"></i>
                                    {{ myAnnounce.created_at|date('H:i') }}
                                </div>
                                <div class="info-currency">
                                    <i class="fas fa-money-bill" aria-hidden="true"></i>
                                    25
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <button style="margin: 0 auto; display: block;" class="btn-principal">Voir toutes les annonces</button>
        </div>
    </div>
{% endblock wrapper %}