{% extends 'layout.html.twig' %}
{% block wrapper %}
    <div class="block--message-box">
        <div class="block--title">
            <span class="first">Ma boite de </span>
            <span class="second">Réception</span>
        </div>
        <div class="private-message-list">
            <ul class="message-list-content">
                {% for message in messages %}
                    <li class="message-list-element">
                        <div class="toast__container">
                            <div class="toast__cell">
                                <div class="toast {% if message.ReceiverReadLastMessage %}toast--green{% else %}toast--red{% endif %}">
                                    <div class="toast__icon">
                                        {% if message.ReceiverReadLastMessage %}
                                            <i class="fa fa-envelope-open" style="color: #84BDA4; font-size: 25px;"></i>
                                        {% else %}
                                            <i class="fa fa-envelope" style="color: #BD3939; font-size: 25px;"></i>
                                        {% endif %}
                                    </div>
                                    <div class="toast__content">
                                        <p class="toast__type">{{ message.sender.username }} : {{ message.createdAt |date('d/m/Y') }}</p>
                                        <p class="toast__message">{{ message.message |truncate(50) }}</p>
                                    </div>
                                    <div class="toast__close">
                                        <a href="{{ router.generateUri('show.private.message', {'idMessage' : message.id}) }}"><i class="fas fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock wrapper %}