{% extends 'layout.html.twig' %}
{% block wrapper %}
    <div id="block--profil-header">
            <div class="actions-zone">

                {% if user.id == session.User.id %}
                    <button class="btn-principal"><a href="{{ router.generateUri('add.community') }}">Créer communauté</a></button>
                    <button class="btn-principal btn-principal-grey"><a href="{{ router.generateUri('edit.profil.user') }}">Editer mon profil</a></button>
                {% elseif friendships and friendships.status == false %}
                    <button class="btn-principal btn-principal-grey"><i class="fas fa-user-friends"></i>  Demande d'ami envoyée</button>
                {% elseif friendships and friendships.status == true %}
                    <button class="btn-principal btn-principal-red"><i class="fas fa-user-friends"></i>  Supprimer des amis</button>
                    <a class="btn-principal btn-principal-grey" style="text-decoration: none" href="{{ router.generateUri('send.message.friend', {'idFriend' : user.id}) }}"><i class="fas fa-mail-bulk"></i> Contacter</a>
                {% elseif friendships == false %}
                    <button class="btn-principal"><a href="{{ router.generateUri('send.friend.request', {'idUser' : user.id}) }}"><i class="fas fa-user-friends"></i>  Ajouter aux amis</a></button>
                {% endif %}

            </div>
        <div class="block--header-background">
            <p class="full-name">{{ user.firstname }} {{ user.lastname }}</p>
            <div class="profil-avatar" style="background-image: url('/uploads/avatar/{{ user.avatar[0].uploadName }}')"></div>
        </div>

    </div>
    <div class="clear-fix"></div>
    <div class="block--profile-bio" style="padding-bottom: 15px">
        <div class="block--title" style="padding-top: 0px">
            <span class="first">Informations</span>
        </div>
        <div class="profil-informations-content">
            <div class="statistic-element" style="width: 100%">
                <h4>Localisation:</h4><h5>Lille</h5>
            </div>
            <div class="statistic-element" style="width: 100%">
                <h4>Centres d'intérêts</h4>
                {% if user.hobbies is not null %}
                <h5>{{ user.hobbies }}</h5>
                {% else %}
                <h5>Aucun</h5>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="block--profile-statistics">
        <div class="block--title" style="padding-top: 0px">
            <span class="first">Statistiques</span>
        </div>
        <div class="statistics-numbers">
            <div class="statistics-list">
                <div class="statistic-element">
                    <p>{{ announces | length }}</p>
                    <h5>Annonces</h5>
                </div>
                <div class="statistic-element">
                    <p>{{ communities| length }}</p>
                    <h5>Communautés</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="block--profile-announce">
        <div class="block--title" style="padding-top: 0px">
            <span class="first" style="width: 85%;">{% if user.id == session.User.id %}Mes Communautés{% else %}Ses commmunautés{% endif %}</span>
        </div>
        {% if communities is not null and communities is not empty %}
            <div class="profil-content-announces-list">
                <div class="announce-list-content">
                    {% for community in communities%}
                        <div class="announce-element" style="background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/uploads/community/{{ community.images[0].uploadName }}')">
                            <h4>{{ community.name | truncate(30)}}</h4>
                            <p>{{ community.description | truncate(50)}}</p>
                            <div class="action-zone-content">
                                <button class="btn-principal"><a href="/communaute/{{ community.id }}" style="text-decoration: none">Voir</a></button>
                                {% if user.id == session.User.id and community.admin != session.User.id %}
                                <button onclick="leaveCommunityActionAjax({{ community.id }})" class="btn-principal btn-principal-red text-actions" id="leave-community-action" style="text-decoration: none;">Quitter</button>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>Aucune communauté</p>
        {% endif %}
    </div>
    {% set countAnnounce = announces|length %}
        <div class="block--profile-announce">
            <div class="block--title" style="padding-top: 0px">
                <span class="first">{% if user.id == session.User.id %}MES Annonces{% else %}Ses Annonces{% endif %}</span>
            </div>
            <div class="profil-content-announces-list">
                {% if announces is not empty and announces is not null %}
                <div class="announce-list-content">
                    {% for announce in announces %}
                    <div class="announce-element" style="background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/uploads/announce/{{ announce.images[0].uploadName }}')">
                        {% if announce.isWasExchanged == '1' and announce.isWaitingExchange == '1' %}
                            <p class="status-announce" style="background: rgba(102, 255, 22, 0.34)">Transaction <br/> réalisée</p>
                        {% elseif announce.isWaitingExchange == '1' and announce.isWasExchanged == '0' %}
                            <p class="status-announce" style="background: rgba(0,219,165,0.47)">En attente de la transaction</p>
                        {% else %}
                            <p class="status-announce" style="background: rgba(0,180,219,0.47)">En attente de proposition</p>
                        {% endif %}
                        {% if announce.userId  == session.User.Id %}
                            <p>{{ announce.proposal|length }} Proposition(s)</p>
                        {% endif %}
                        <h4>{{ announce.title | truncate(20)}}</h4>
                        <div class="action-zone-content">
                        <button class="btn-principal" onclick="redirectionToAnnounce({{ announce.communityId }},{{ announce.id }})">Voir</button>
                            {% if announce.isWasExchanged == "0" and announce.isWaitingExchange == "0"  %}
                            <button class="btn-principal btn-principal-red btn-delete-announce" data-announce="{{ announce.id }}">Supprimer</button>
                            {% endif %}

                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                    <p>Aucune annonce</p>
                {% endif %}
            </div>
        </div>

    {% if user.id == session.User.id %}
        <div class="block--profile-statistics">
            <div class="block--title" style="padding-top: 0px">
                <span class="first">Porte monnaie</span>
            </div>
            <div class="statistics-numbers">
                <div class="circle" id="circle-a" data-value="0.69" data-animation-start-value="0">
                    <strong></strong>
                </div>
                <div class="statistics-list">
                    <div class="statistic-element">
                        <h4>Total UEV</h4>
                        {% if walletTotal > 0 %}
                            <p style=" margin-bottom: 10px; margin-top: 0px; color: rgb(87,182,55)">{{ walletTotal }}</p>
                        {% else %}
                            <p style="margin-bottom: 10px; margin-top: 0px;  color: rgb(195,0,13)">{{ walletTotal }}</p>
                        {% endif %}
                        <h5>Historique des 10 derniers mouvements</h5>
                    </div>
                </div>
                <div class="statistics-list">
                    <div class="statistic-element">
                        <h4>Date</h4>
                    </div>
                    <div class="statistic-element">
                        <h4>Type</h4>
                    </div>
                    <div class="statistic-element">
                        <h4>Somme</h4>
                    </div>
                    <div class="statistic-element">
                        <h4>Total</h4>
                    </div>
                </div>
                    {% for walletHistoValue in walletHisto %}
                        <div class="statistics-list">
                            <div class="statistic-element">
                                <h5>{{ walletHistoValue.date}}</h5>
                            </div>
                            <div class="statistic-element">
                                <h5>{{ walletHistoValue.type }}</h5>
                            </div>
                            <div class="statistic-element">
                                {% if walletHistoValue.value > 0 %}
                                    <h5 style="color: rgb(87,182,55)">{{ walletHistoValue.value }}</h5>
                                {% else %}
                                    <h5 style="color: rgb(195,0,13)">{{ walletHistoValue.value }}</h5>
                                {% endif %}
                            </div>
                            <div class="statistic-element">
                                <h5>{{ walletHistoValue.total }}</h5>
                            </div>
                        </div>
                    {% endfor %}

            </div>
        </div>
    {% endif %}
    <div class="block--profile-friends">
        <div class="block--title" style="padding-top: 0px">
            <span class="first">{% if user.id == session.User.id %}Mes amis{% else %}Ses amis{% endif %}</span>
        </div>
        {% if user.friends is not empty and user.friends is not null %}
            <div class="friends-list">
                {% for friend in user.friends %}
                <div class="friend-element" style="background:linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('/uploads/avatar/{{ friend.avatar[0].uploadName }}')">
                    {% if friend.id == session.User.id %}
                        <h5><a style="text-decoration: none; color: white" href="{{ router.generateUri('profil.user') }}">{{ friend.username }}</a></h5>
                    {% else %}
                    <h5><a style="text-decoration: none; color: white" href="{{ router.generateUri('show.profil.user', {'idUser' : friend.id}) }}">{{ friend.username }}</a></h5>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>Aucun amis</p>
        {% endif %}
    </div>

{% endblock wrapper %}