<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
</head>

<body>

<div class="block--loader-redirection">
    <img src="/assets/img/loader-redirecting.gif">

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/script.js"></script>
<div class="block--loader-redirection">
    <h2>Redirection vers stripe pour le paiement de l'abonnement</h2>
    <img src="/assets/img/loader-redirecting.gif" width="50%">

</div>
<script src="https://js.stripe.com/v3/"></script>

<script>
    setTimeout(function(){
        redirectToStripe()
    }, 5000);
    function redirectToStripe() {
        let stripe = Stripe('pk_test_ujQiZoK2Mhwth5hJG2wmT2Sw00SqbSVATc');

        stripe.redirectToCheckout({
            // Make the id field from the Checkout Session creation API response
            // available to this file, so you can provide it as parameter here
            // instead of the {{ CHECKOUT_SESSION_ID }} placeholder.
            sessionId: '{{ stripeCheckoutSession.id }}'
        }).then(function (result) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer
            // using `result.error.message`.
        });
    }
</script>
</body>

</html>