{% extends 'layout.html.twig' %}
{% block wrapper %}

    <div class="block--title">
        <span class="first" style="width: 100%"><h5>Contact pour l'annonce de</h5></span>
        <span class="second" style="width: 80%"><h5>{{ userAnnounce.username }}</h5></span>
    </div>
    <div class="form-container">
        <form enctype="multipart/form-data" action="{{ router.generateUri("check.send.message.announce", {'idCommunity': announce.community_id|number_format , 'idAnnounce': announce.id|number_format }) }}" class="add-community-form" id="submitForm" method="post">
            <label for="label-anim" class="label-anim">
                <input type="text" name="title" placeholder="&nbsp;" value="Contact pour annonce">
                <span class="label">Titre</span>
                <span class="border"></span>
            </label>
            <br>
            <label for="label-anim" class="label-anim">
                <textarea type="text" name="message" placeholder="&nbsp;"></textarea>
                <span class="label">Message</span>
                <span class="border"></span>
            </label>
            <br/>
            <div class="checkbox-proposal" style="text-align: center">
                <input type="checkbox" id="makeProposal" name="makeProposal">
                <label for="makeProposal">Indiquer vouloir l'objet de l'annonce(échange/don/service)</label>
            </div>
            <br/>
            <div class="action-zone-content">
                <button class="btn-principal" type="submit">Envoyer</button>
                <button class="btn-principal btn-principal-red" type="button">Annuler</button>
            </div>
        </form>
    </div>
{% endblock wrapper %}