{% extends 'layout.html.twig' %}
{% block wrapper %}
    <div class="block--message-box">
        <div class="block--title">
            <span class="first">Ma boite de </span>
            <span class="second">Réception</span>
        </div>
        <div class="private-message-list-show">
            <ul class="message-list-content-show" style="overflow: scroll; max-height: 300px">
                {% for message in messages %}
                        <li class="message-list-element-show-center">
                            <div class="center-box-show" style="text-align: center;">
                                <h3 id="private-announce-title">Demande d'ami de {{ message.sender.username }}</h3>
                                <span class="left-date-message" style="magin-bottom: 15px; display: block">{{ message.createdAt |date('d/m/Y') }}</span>
                                <p class="left-message-message-send">{{ message.message }}</p>
                            </div>
                        </li>
                    <form method="post" action="{{ router.generateUri('reply.friend.request', {'idFriendship' : message.friendshipId, 'idUser' : message.senderId}) }}">
                        <button class="btn-principal btn-principal-green" name="reply" value="true" style="margin-bottom: 15px;"><i class="fas fa-check"></i>  Accepter</button>
                        <button class="btn-principal btn-principal-red" name="reply" value="false" style="margin-bottom: 15px;"><i class="fas fa-times"></i>  Refuser</button>
                    </form>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock wrapper %}