{% extends 'layout.html.twig' %}
{% block wrapper %}
    <div class="block--message-box">
        <div class="block--title">
            <span class="first">Ma boite de </span>
            <span class="second">Réception</span>
        </div>
        <div class="private-message-list-show">
            <h3 id="private-announce-title">{{ messages[0].title }}</h3>

            <ul class="message-list-content-show" style="overflow: scroll; padding-top: 10px; max-height: 300px">
                {% for message in messages %}
                    {% if message.sender.id == session.User.id and message.hasProposal == false%}
                        <li class="message-list-element-show-right">
                            <div class="right-box-show">
                                <h5 class="right-message-title">Vous</h5>
                                <span class="right-date-message">{{ message.createdAt |date('d/m/Y') }}</span>
                                <p class="right-message-message-send">{{ message.message }}</p>
                            </div>
                        </li>
                    {% elseif message.hasProposal %}
                        <li class="message-list-element-show-left">
                            <div class="right-box-show" style="background: rgb(238,246,255)">
                                <span class="right-date-message" style="color: rgba(22, 22, 22, 1)">{{ message.createdAt |date('d/m/Y') }}</span>
                                <p class="right-message-message-send" style="color: rgba(22, 22, 22, 1)">{{ message.message }}</p>
                                <br/>
                                {% if message.announce.userId == session.User.id and proposal.acceptedAt is null%}
                                    <p class="right-message-message-send" style="margin-bottom: 10px; color: rgba(22, 22, 22, 1)">Cliquez sur l'annonce pour gérer les propositions</p>
                                    <div class="message-action-zone" style="margin-bottom: 20px;">
                                        <a class="btn-principal" style="text-decoration: none" href="{{ router.generateUri('show.announce', {'idCommunity' : message.announce.communityId, 'idAnnounce' : message.announce.id}) }}">Gérer propositions</a>
                                    </div>
                                {% endif %}
                            </div>
                        </li>
                    {% else %}
                        <li class="message-list-element-show-left">
                            <div class="left-box-show">
                                <h5 class="left-message-title">{{ message.sender.username }}</h5>
                                <span class="left-date-message">{{ message.createdAt |date('d/m/Y') }}</span>
                                <p class="left-message-message-send">{{ message.message }}</p>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="form-container">
        <form enctype="multipart/form-data" action="{{ router.generateUri("check.answer.message.announce", {'idMessage': messages[0].id|number_format}) }}" class="add-community-form" id="submitForm" method="post">
            <label for="label-anim" class="label-anim">
                <textarea type="text" name="message" placeholder="&nbsp;" value="{{ user.firstName }}"></textarea>
                <span class="label">Message</span>
                <span class="border"></span>
            </label>
            {% if messages[0].announce.userId != session.User.id and message[0].announceId is not null or proposal.userIdProposal == session.User.id %}
            <br/>
            <div class="checkbox-proposal" style="text-align: center">
                <input type="checkbox" id="makeProposal" name="makeProposal">
                <label for="makeProposal">Indiquer vouloir l'objet de l'annonce(échange/don/service)</label>
            </div>
            {% endif %}
            <br/>
            <div class="action-zone-content">
                <button class="btn-principal" type="submit">Envoyer</button>
                <button class="btn-principal btn-principal-red" type="button">Annuler</button>
            </div>
        </form>
    </div>
    <div class="clear-fix"></div>
    <script>
        {# automatically scroll in div#}
        var messageContent    = $('.message-list-content-show');
        var height = messageContent[0].scrollHeight;
        messageContent.scrollTop(height);
    </script>
{% endblock wrapper %}
