{% extends 'layout.html.twig' %}
{% block wrapper %}
    <div class="block--register">

        <div class="block--title">
            <span class="second"><h5>Inscription</h5></span>
        </div>
        <form action="{{ router.generateUri('inscription.check.route') }}" class="add-community-form" id="submitForm"  enctype="multipart/form-data" method="post">
            <label for="label-anim" class="label-anim">
                <input type="text" id="username" name="username" placeholder="&nbsp;">
                <span class="label">Identifiant</span>
                <span class="border"></span>
            </label>
            <br>
            <label for="label-anim" class="label-anim">
                <input type="text" id="lastname" name="lastname" placeholder="&nbsp;">
                <span class="label">Nom</span>
                <span class="border"></span>
            </label>
            <br>
            <label for="label-anim" class="label-anim">
                <input type="text" id="firstname" name="firstname" placeholder="&nbsp;">
                <span class="label">Prénom</span>
                <span class="border"></span>
            </label>
            <br>

            <label for="label-anim" class="label-anim">
                <input type="email" id="email" name="email" placeholder="&nbsp;">
                <span class="label">Email</span>
                <span class="border"></span>
            </label>
            <br>
            <label for="label-anim" class="label-anim">
                <input type="password" id="password" name="password" placeholder="&nbsp;">
                <span class="label">Mot de passe</span>
                <span class="border"></span>
            </label>
            <br>
            <label for="label-anim" class="label-anim">
                <input type="password" id="password-confirm" name="password-confirm" placeholder="&nbsp;">
                <span class="label">Confirmation mot de passe</span>
                <span class="border"></span>
            </label>
            <br>

            <div id="filediv1" class="single-img-constraint">
                <input name="file[]" type="file" class="input-img btn-principal" id="file1"/>
                <br>
                <br>
                <label for="file1" id="select-img" class="btn-principal">Sélectionner une image</label>
            </div>

            <button class="btn-principal" id="button-sign-up" type="submit">S'inscrire</button>
        </form>
    </div>
{% endblock wrapper %}