<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <link rel="stylesheet" href="/assets/css/all.min.css"/>
        <link rel="stylesheet" href="/assets/css/style.css">
        <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    </head>

    <body>
        <div id="content" class="container-trigger container-tunnel-step">
            <div class="has-slider-step-page">
                <span class="skip-tuto" onclick="setCookie()">Passer</span>
                <div class="homepage-cover slider-step-page">
                    <div class="step1 slider-element-step-page ">
                        <div class="logo-content">
                            <img class="logo" src="assets/img/logo.png"/>
                        </div>
                        <h2>Bienvenue</h2>
                        <p>Vous êtes arrivé sur notre plateforme d'échange communautaire. Mais qu'est ce qu'on y fait bien ici ? </p>
                    </div>
                    <div class="step2 slider-element-step-page ">
                        <div class="iphone">
                            <img class="iphone" src="assets/img/community-phone.jpg"/>
                        </div>
                        <h2>Communautés</h2>
                        <p>Notre plateforme repose sur un principe de communauté. Vous en trouverez forcément une près de chez vous !</p>
                    </div>
                    <div class="step3 slider-element-step-page ">
                        <div class="iphone">
                            <img class="iphone" src="assets/img/announce-phone.jpg"/>
                        </div>
                        <h2>Annonces</h2>
                        <p>Chaque communauté regroupera en son sein des annonces créées par les membres. Ces annonces n'attendent que vous pour troquer, donner ou rendre service !</p>
                    </div>
                    <div class="step4 slider-element-step-page ">
                        <div class="iphone">
                            <img class="iphone" style="width: 65%" src="assets/img/payment-phone.jpg"/>
                        </div>
                        <h1>50 <i class="fas fa-euro-sign"></i></h1>
                        <h2>Frais</h2>
                        <p>Pourquoi ? Ces frais serviront à financer entièrement la plateforme informatique mais également pour subvenir aux besoins des développeurs de Click&Troc.</p>
                        <button class="btn-principal" style="width: 75%; display: block; margin: 15px auto 0 auto;" onclick="setCookie()">Terminer</button>
                    </div>
                </div>
                <div class='slider-pagination-step-page'></div>
            </div>
        </div>
    <script type="text/javascript" src="/assets/js/hammer.min.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
        <script type="text/javascript" src="/assets/js/swipe-img.js"></script>
    </body>
</html>