{% block flashMessage %}
    {% if session.flash is defined and session.flash is not null %}
        <div class="flash-wrap {{ session.flash.type }}">
            <p class="flash-message">{{ flash() }}</p>
            <button class="flash-close-button">x</button>
        </div>
    {% endif %}
{% endblock flashMessage %}