<footer>
    <div class="footer-content">
        <img src="/assets/img/logo.png"/>
        <div class="resume-zone">
            <h5>Site créé par 2JAMP</h5>
            <p>Notre maître mot est le partage et la sauvegarde de nos ressources.</p>
        </div>
        <div class="social-network">
            <span class="facebook-share-icon"><i class="fab fa-facebook-f"></i></span>
            <span class="twitter-share-icon"><i class="fab fa-twitter"></i></span>
            <span class="mail-share-icon"> <i class="fas fa-envelope"></i></span>
        </div>
        <nav>
            <a>CGU</a>
            <a>Mentions légales</a>
            <a>Vie privée</a>
        </nav>
        <div class="copyright-zone">
            <span>Copyright 2019. Tous droits réservés.</span>
        </div>
    </div>
</footer>