<div id="nav-mobile">
    <div class='has-slider'>
        <div class='slider' id='slider'>
            <div class="slider-panel number1">
                <ul>
                    <a href="/accueil"><li><i class="fas fa-home"></i></li></a>
                    <a href="/communautes"><li><i class="fas fa-layer-group"></i></li></a>
                    {% if session.User %}
                    <a href="/mon-compte"><li><i class="far fa-address-card"></i></li></a>
                    {% else %}
                        <a href="/connexion"><li><i class="fas fa-sign-in-alt"></i></li></a>
                    {% endif %}
                </ul>
            </div>
            <div class="slider-panel number1">
                <ul>
                    {% if session.User %}
                        <a href="/mon-compte/boite-de-reception"><li><i class="fas fa-mail-bulk"></i></li></a>
                        <a href="/deconnexion"><li><i class="fas fa-sign-in-alt"></i></li></a>
                    {% else %}
                        <a href="/inscription"><li><i class="fas fa-user-plus"></i></li></a>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class='slider-pagination'></div>
    </div>

    <div class="menu-slide-big">
        <img src="/assets/img/menu.png" alt="" title="">
    </div>
</div>