{% block menu %}



    {% if session.User %}
        <nav id="slide-menu">
            <ul>
                <li class="timeline">
                    <a href="{{ router.generateUri('homepage') }}">
                        <i class="fas fa-home"></i>
                        <span>Accueil</span>
                    </a>
                </li>

                <li class="events">
                    <a href="/communautes">
                        <i class="fas fa-layer-group"></i>
                        <span>Communautés</span>
                    </a>
                </li>

                    <li class="sep settings">
                        <a href="/mon-compte">
                            <i class="far fa-address-card"></i>
                            <span>Mon compte</span>
                        </a>
                    </li>
                    <li class="sep settings">
                        <a href="/mon-compte/boite-de-reception">
                            <i class="fas fa-mail-bulk"></i>
                            <span>Boîte de reception</span>
                        </a>
                    </li>
                    <li class="logout">
                        <a href="/deconnexion">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Deconnexion</span>
                        </a>
                    </li>
            </ul>
        </nav>
    {% else %}

    <nav id="slide-menu-2">
    <ul>
        <li class="timeline">
            <a href="{{ router.generateUri('homepage') }}">
                <i class="fas fa-home"></i>
                <span>Accueil</span>
            </a>
        </li>

        <li class="events">
            <a href="/communautes">
                <i class="fas fa-layer-group"></i>
                <span>Communautés</span>
            </a>
        </li>
            <li class="sep settings">
                <a href="/connexion">
                    <i class="fas fa-sign-in-alt"></i>
                    <span>Connexion</span>
                </a>
            </li>
            <li class="logout">
                <a href="/inscription">
                    <i class="fas fa-user-plus"></i>
                    <span>Inscription</span>
                </a>
            </li>
    </ul>
</nav>
    {% endif %}
{% endblock menu %}