<div class="search-wrap">
    <span>Rechercher communautés par ville:</span>
    <form action="/recherche" method="POST" >
        <input class="search-text" id="search-input-hash" name="search-value-input" type="search" placeholder="Ville...">
        <input class="search-text" id="search-input-city2" name="search-value-city" type="hidden" placeholder="Ville, thème, nom....">
        <button id="search-button" type="submit"><i class="fas fa-search"></i></button>
        {#<div class="localisation">
            <div>
                <h4>Me localiser</h4>
                <input class="tgl tgl-switch" id="cb2" type="checkbox"/>
                <label class="tgl-btn" for="cb2"></label>
            </div>
        </div>
        #}
        <div id="list-result">
            <ul id="list-result-block">

            </ul>
        </div>
    </form>
    {#<span onclick="showLocalisationChoice()" class="most-filters"><i class="fas fa-plus-circle"></i> Filtres</span>#}
</div>